@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


html, body{
    width: 100%;
    max-width: 100vw;
    
    padding: 0;
    margin: 0;
    
    text-align: center;
    box-sizing: border-box;
    font-family: Fira Code,monospace;
}

h1, p, h3
{
    margin: 0;
}

h3{
    font-size: 40px;
}

.conhecimentos, .content-about, .sobre-title,
.caixa-sobre, .content-projetos, 
.content-about2, #paulo-img, .text-position, .projetos, .projeto1,
.projeto2, .contato , .content-contato, .email, .whatsapp-contato{
    visibility: hidden;
}