/* <tablet> */

@media (min-width:800px) and (max-width:875px) {
    .background {
        background-size: 100vh;
    }
}
/* </tablet> */

/* <mobile> */

@media(max-width:800px) {
    header {
        visibility: hidden;
    }

    .background {
        background-image: url(img/backgroundimg.jpg);
        background-position: top;
        background-size: 220%;
        width: 100%;
        height: 100vh;
    }

    .container {
        height: 55vh;
    }

    #about-background {
        
        height: 170vh;
        text-align: center;
    }

    .content-about {
        flex-direction: column; 
        height: 900px;
        
     }

    .html-btn, .css-btn, .javascript-btn, .git-btn {
        max-width: 100%;
    }

    h4, em {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sobre-background {
        height: 110vh;  
    }

    #projetos-background {
        height: 175vh;  
    }

    .text-sobre {
        max-width: 90%;  
    }

    .content-projetos {
        display: block;
    }

    .projeto-img, .projeto-img2 {
        max-width: 300px;
        text-align: center;
    }

    .projeto1, .projeto2 {
        max-width: 300px;
        text-align: center;
        height: 600px;
    }

    .ecommerce {
        clear: right; 
    }

    .ecommerce2 {
        clear: left;
    }

    #contato-background { 
        height: 50vh;
    }

    .text-projeto {
        max-width: 300px;  
    }

    footer {
        height: 50px;  
    }

    .redes,.github,.linkedin {
        visibility: hidden;
    }

    .textFooter {
        position: relative;
        right: 90px;
    }

    .float {
        visibility: hidden;
    }

}

/* </mobile> */


/* <telas-menores> */
@media (max-width:400px) {
    header {
        width: 0;
    }
    
    .textHello {
        font-size: 20px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 13px;
    }

    .conhecimentos, .sobre-title, .projetos, .contato {
        font-size: 30px;
    }

    #about-background {
        height: 200vh;
    }

    #projetos-background {
        height: 190vh;
    }

    .buttonAction {
        margin: 10px;
        width: 80px;
        
    }

   
}

/* </telas-menores> */