
header{ 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    
    box-shadow: 2px 2px 0 #3C291A;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1; 
}

#btn-header {
    margin: 0 10px 0 10px;
}

header nav a{
    text-decoration: none;
    color: #3C291A;  
}

header nav a:hover{
    color: rgb(190, 21, 21);
}

ul{
    list-style-type: none;
    padding: 0;
}

.background{
    background-image: url(img/backgroundimg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;   
}

.container{
    height: 100%;
    display: flex;  
    align-items: center;
    justify-content: center; 
}

.textHello{
    font-size: 30px;
    color: #fff;
}

h1{
    font-size: 50px;
    color: #fff;
}

.efect-typing {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .efect-typing p {
    font-family: 'Fira code', monospace;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    font-weight: normal;
  }
  .efect-typing p span.typed-text {
    font-weight: normal;
    color: rgb(250, 0, 0);
  }
  .efect-typing p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .efect-typing p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
#dowload{
    font-family: Fira Code, serif;
    padding: 20px 50px;
    text-align: center;
    box-shadow: 2px 2px 0 black;
    background-color: #f2f2f2;
    text-decoration: none ;
    color: #3C291A;  
    font-weight: bold; 

    border-radius: .5rem;
}

#dowload:hover{
    background-color: #f2f2f2bb;
}



.list-skills li {
    height: 250px;
    
}

.conhecimentos{
    padding: 100px 0;
}

.html-img, .css-img, .javascript-img {
    width: 75px;
    animation: float 4s ease-in-out infinite;
}

.git-img{
    width: 75px;
    
}

.github-img{
    width: 75px;
    
}

.figma-img {
    width: 85px;
    
}

.java-img {
    width: 100px;
    
}

.angular-img {
    width: 75px;
   
}

.sql-img {
    width: 130px;
    
}

.content-img {
    height: 100px;
    animation: float 4s ease-in-out infinite;
}

.sobre-title {
    padding: 100px 0 0 0;
}

#paulo-img{
    margin: 50px 0 10px 0;
    width: 300px;
    
    animation: float 3s ease-in-out infinite;   
}

@keyframes float{
    0%, 100%{
        transform: translateY(0)
    }
    50%{
        transform: translateY(-20px)
    }
}

.text-position {
    width: 100%;
    text-align: -webkit-center;
    justify-content: center;
}

.text-sobre{
    width: 100%;
    text-align: center;
    max-width: 500px;
    margin: 10px 0 10px 0;
}

#projeto{
    margin-bottom: 100px;
}

.projetos {
    padding: 100px 0;
}

.projeto-img {
    border-radius: .5rem;
    width: 500px;
    
    margin: 0;
}

#contato-background{
    height: 50vh;
    background-color: #fff;
    opacity: 70%;
    color: #000000;
}

.contato {
    padding: 100px 0 30px 0;
}

.content-contato{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100px;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
}

.email a{
    text-decoration:none ;
    color: #000000;
    font-weight: bold;
}

.email a:hover{
    color: #3C291A;
}

.buttonAction{
    width: 110px;
    height: 50px;
    color: #000000;
    margin: 10px;
    background: #a5a4a4;
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-contato button:hover{
    background-color: #8b8a8a;
    color: rgb(190, 21, 21);
}

.buttonAction {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    border-radius: .5rem;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttonAction span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .buttonAction span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 65%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
  
  .buttonAction:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .buttonAction:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .buttonAction:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }
  
  .whatsapp-contato {
    display: inline-flex;
    align-items: center; 
  }

  .whatsapp-number {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }

  .whatsapp-number:hover {
    color: #3C291A;
  }

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: rgb(41, 46, 51);
    color: #fff;
    width: 100%;
    height: 40px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:70px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}

footer a{
    color: #fff;
}

.github{
    margin: 0 10px 0 10px;
}

.linkedin{
    margin-right: 10%;
}

.linkedin:hover, .github:hover{
    color: rgb(190, 21, 21);
}







































.list-skills {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;

}

@media screen and (min-width: 380px) {
    .list-skills {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .list-skills {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .list-skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}